apiVersion: apps/v1
kind: Deployment
metadata:
  name: synapsets-web
  annotations:
    kube-score/ignore: pod-networkpolicy,container-image-tag
spec:
  replicas: 1
  selector:
    matchLabels:
      app: synapsets-web
  template:
    metadata:
      labels:
        app: synapsets-web
    spec:
      containers:
        - name: synapsets-web
          image: clubcedille/synapsets.etsmtl.ca:latest
          imagePullPolicy: Always
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 500m
              memory: 256Mi
              ephemeral-storage: 1Gi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
            runAsGroup: 10001
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-temp
              mountPath: /var/cache/nginx
            - name: config-volume
              mountPath: /etc/nginx/conf.d
              readOnly: true
            - name: run-volume
              mountPath: /var/run
      volumes:
        - name: nginx-temp
          emptyDir: {}
        - name: config-volume
          configMap:
            name: nginx-config
        - name: run-volume
          emptyDir: {}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: synapsets-web-pdb
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: synapsets-web
