apiVersion: apps/v1
kind: Deployment
metadata:
  name: comets-web
  annotations:
    kube-score/ignore: container-image-pull-policy,container-image-tag, pod-networkpolicy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: comets-web
  template:
    metadata:
      labels:
        app: comets-web
    spec:
      containers:
        - name: comets-web
          image: ghcr.io/clubcedille/comets-web:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 500m
              memory: 256Mi
              ephemeral-storage: 1Gi
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
            runAsGroup: 10001
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: comets-web-pdb
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: comets-web
