apiVersion: v1
kind: Service
metadata:
  name: comets-web-service
spec:
  ports:
    - name: http
      targetPort: 80
      protocol: TCP
      port: 80
  type: ClusterIP
  selector:
    app: comets-web
